<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Monitoreo</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleResp.css">
    <link rel="stylesheet" href="css/stylefonts.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/r-2.2.3/datatables.min.css" />
</head>

<body class="text-center bg-secondary position-absolute h-100 col-12 px-0" onload="onLoad()">
    <div class="alert float-rigth" id="alert_principal">
    </div>
    <iframe src="" style="width: 100%; height: 100vh;" id="srcMonitoreo" name="srcMonitoreo" frameborder="0" ></iframe>
    
    <script src="js/socket.io.js"></script>
    <script src="js/monitoreo.js"></script>
</body>

</html>